/* url: http://ftp1.nluug.nl/os/Linux/distr/deepin/ msg: 404 Not Found */
a[href="http://ftp1.nluug.nl/os/Linux/distr/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://ftp2.nluug.nl/os/Linux/distr/deepin/ msg: 404 Not Found */
a[href="http://ftp2.nluug.nl/os/Linux/distr/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.truenetwork.ru/deepin/ msg: 404 Not Found */
a[href="http://mirror.truenetwork.ru/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.hust.edu.cn/deepin/ msg: Head "http://mirrors.hust.edu.cn/deepin/dists/apricot/Contents-amd64.gz": context deadline exceeded */
a[href="http://mirrors.hust.edu.cn/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.ircam.fr/pub/deepin/ msg: 404 Not Found */
a[href="http://mirrors.ircam.fr/pub/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.sohu.com/deepin msg: 文件过期 */
a[href="http://mirrors.sohu.com/deepin"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirror.truenetwork.ru/deepin/ msg: 404 Not Found */
a[href="https://mirror.truenetwork.ru/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.cqu.edu.cn/deepin/ msg: Head "https://mirrors.cqu.edu.cn/deepin/dists/apricot/Contents-amd64.gz": context deadline exceeded */
a[href="https://mirrors.cqu.edu.cn/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.hust.edu.cn/deepin/ msg: Head "https://mirrors.hust.edu.cn/deepin/dists/apricot/Contents-amd64.gz": context deadline exceeded */
a[href="https://mirrors.hust.edu.cn/deepin/"] { padding: 3px; color: white; background-color: gray; }

