/* url: http://deepin.ams-01.rexum.space/deepin/ msg: Head "http://deepin.ams-01.rexum.space/deepin/dists/apricot/Contents-amd64.gz": dial tcp: lookup deepin.ams-01.rexum.space on 127.0.0.53:53: no such host */
a[href="http://deepin.ams-01.rexum.space/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://deepin.ip-connect.vn.ua/ msg: Head "http://deepin.ip-connect.vn.ua/dists/apricot/Contents-amd64.gz": dial tcp 91.236.251.14:80: connect: connection refused */
a[href="http://deepin.ip-connect.vn.ua/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://ftp.harukasan.org/deepin/ msg: Head "http://ftp.harukasan.org/deepin/dists/apricot/Contents-amd64.gz": context deadline exceeded */
a[href="http://ftp.harukasan.org/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.anigil.com/deepin/ msg: 文件过期 */
a[href="http://mirror.anigil.com/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.bytemark.co.uk/linuxdeepin/deepin/ msg: 404 Not Found */
a[href="http://mirror.bytemark.co.uk/linuxdeepin/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.dgn.net.tr/deepin/ msg: Head "http://mirror.dgn.net.tr/deepin/dists/apricot/Contents-amd64.gz": dial tcp: lookup mirror.dgn.net.tr on 127.0.0.53:53: no such host */
a[href="http://mirror.dgn.net.tr/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.man.bytemark.co.uk/linuxdeepin/deepin msg: 404 Not Found */
a[href="http://mirror.man.bytemark.co.uk/linuxdeepin/deepin"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.unesp.br/deepin/ msg: 404 Not Found */
a[href="http://mirror.unesp.br/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.yrk.bytemark.co.uk/linuxdeepin/deepin/ msg: 404 Not Found */
a[href="http://mirror.yrk.bytemark.co.uk/linuxdeepin/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://repo.frcuba.cu/deepin/ msg: Head "http://repo.frcuba.cu/deepin/dists/apricot/Contents-amd64.gz": context deadline exceeded */
a[href="http://repo.frcuba.cu/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://www.mirrorservice.org/sites/packages.linuxdeepin.com/deepin/ msg: 404 Not Found */
a[href="http://www.mirrorservice.org/sites/packages.linuxdeepin.com/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://deepin.ams-01.rexum.space/deepin/ msg: Head "https://deepin.ams-01.rexum.space/deepin/dists/apricot/Contents-amd64.gz": dial tcp: lookup deepin.ams-01.rexum.space on 127.0.0.53:53: no such host */
a[href="https://deepin.ams-01.rexum.space/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://deepin.ip-connect.vn.ua/ msg: Head "https://deepin.ip-connect.vn.ua/dists/apricot/Contents-amd64.gz": dial tcp 91.236.251.14:443: connect: connection refused */
a[href="https://deepin.ip-connect.vn.ua/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://ftp.harukasan.org/deepin/ msg: Head "https://ftp.harukasan.org/deepin/dists/apricot/Contents-amd64.gz": context deadline exceeded */
a[href="https://ftp.harukasan.org/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirror.anigil.com/deepin/ msg: 文件过期 */
a[href="https://mirror.anigil.com/deepin/"] { padding: 3px; color: white; background-color: gray; }

