/* url: http://ftp.belnet.be/mirror/deepin-cd/ msg: 404 Not Found */
a[href="http://ftp.belnet.be/mirror/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror.hostsuisse.com/deepin/releases msg: Head "http://mirror.hostsuisse.com/deepin/releases/25.0.1/amd64/deepin-desktop-community-25.0.1-amd64.iso": context deadline exceeded */
a[href="http://mirror.hostsuisse.com/deepin/releases"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirror2.tuxinator.org/deepin-cd/ msg: 404 Not Found */
a[href="http://mirror2.tuxinator.org/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.aliyun.com/deepin-cd msg: Head "http://iso-osm.mirrors.aliyuncs.com/deepin-cd/25.0.1/amd64/deepin-desktop-community-25.0.1-amd64.iso": dial tcp 8.132.237.172:80: connect: connection refused */
a[href="http://mirrors.aliyun.com/deepin-cd"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.ircam.fr/pub/deepin-cd/ msg: 404 Not Found */
a[href="http://mirrors.ircam.fr/pub/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.nju.edu.cn/deepin-cd/ msg: 429 Too Many Requests */
a[href="http://mirrors.nju.edu.cn/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.njupt.edu.cn/deepin-cd/ msg: 403 Forbidden */
a[href="http://mirrors.njupt.edu.cn/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.sohu.com/deepin-cd/ msg: 404 Not Found */
a[href="http://mirrors.sohu.com/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://ftp.fau.de/deepin/ msg: 404 Not Found */
a[href="https://ftp.fau.de/deepin/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.cqu.edu.cn/github-release/deepin-community/deepin-WSL/ msg: 404 Not Found */
a[href="https://mirrors.cqu.edu.cn/github-release/deepin-community/deepin-WSL/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.kernel.org/deepin msg: 404 Not Found */
a[href="https://mirrors.kernel.org/deepin"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.nju.edu.cn/deepin-cd/ msg: 429 Too Many Requests */
a[href="https://mirrors.nju.edu.cn/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.njupt.edu.cn/deepin-cd/ msg: 403 Forbidden */
a[href="https://mirrors.njupt.edu.cn/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

