/* url: http://ftp.acc.umu.se/mirror/linuxdeepin/releases/ msg: Head "http://ftp.acc.umu.se/mirror/linuxdeepin/releases/25.0.1/amd64/deepin-desktop-community-25.0.1-amd64.iso": context deadline exceeded */
a[href="http://ftp.acc.umu.se/mirror/linuxdeepin/releases/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://ftp.sjtu.edu.cn/deepin-cd/ msg: 429 Too Many Requests */
a[href="http://ftp.sjtu.edu.cn/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: http://mirrors.aliyun.com/deepin-cd/ msg: Head "http://iso-osm.mirrors.aliyuncs.com/deepin-cd/25.0.1/amd64/deepin-desktop-community-25.0.1-amd64.iso": dial tcp 8.132.237.172:80: connect: connection refused */
a[href="http://mirrors.aliyun.com/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.163.com/deepin-cd/ msg: Head "https://mirrors.163.com/deepin-cd/25.0.1/amd64/deepin-desktop-community-25.0.1-amd64.iso": tls: failed to verify certificate: x509: certificate has expired or is not yet valid: current time 2026-10-06T08:20:41Z is after 2026-10-05T15:31:37Z */
a[href="https://mirrors.163.com/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

/* url: https://mirrors.aliyun.com/deepin-cd/ msg: Head "http://iso-osm.mirrors.aliyuncs.com/deepin-cd/25.0.1/amd64/deepin-desktop-community-25.0.1-amd64.iso": dial tcp 8.132.237.172:80: connect: connection refused */
a[href="https://mirrors.aliyun.com/deepin-cd/"] { padding: 3px; color: white; background-color: gray; }

